.addForm {
    position: relative;
    width: 80%;
    height: 15vh;
    margin: 0 auto;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(235, 231, 231);
    border-radius: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgba(201, 255, 191, 0.7);
    box-shadow: 2px 2px 2px 2px rgb(231, 142, 172);
    z-index: 2;

    .addForm-inputs {
        margin-right: 30px;

        .input-english,
        .input-transcription,
        .input-russian {
            width: 15vw;
            height: 4vh;
            border: 2px solid rgb(231, 142, 172);
            ;
            border-radius: 10px;
        }


    }
}