.card {
    width: 260px;
    height: 140px;
    border: 1px solid rgb(149, 7, 7);
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgb(170, 104, 104);
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.word {
    margin-top: 10px;
    font-size: 30px;
    font-weight: 700;
}

.transcription {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 500;
}

.translation {
    font-size: 26px;
    margin-top: 10px;
    color: indianred;
}

.button-translate {
    width: 150px;
    height: 40px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: indianred;
    color: #fff;
    border: none;
    font-size: 18px;
}

.button-translate:hover {
    background-color: rgb(212, 24, 24);
}

.list {
    width: 80%;
    margin-top: 20px;
    margin-left: 130px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 25px;
}