.card {
    width: 260px;
    height: 150px;
    border: 2px solid rgba(240, 247, 240, 0.7);
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px #ffafbd;
    ;
    font-family: Georgia, 'Times New Roman', Times, serif;

    .word {
        color: rgb(63, 68, 63);
        margin-top: 10px;
        font-size: 30px;
        font-weight: 700;
    }

    .transcription {
        color: rgba(63, 68, 63, 0.9);
        margin-top: 10px;
        font-size: 20px;
        font-weight: 500;
    }

    .translation {
        width: 180px;
        height: 40px;
        margin: 0 auto;
        padding: 5px 0 0 0;
        font-size: 26px;
        margin-top: 10px;
        border-radius: 10px;
        color: #ffafbd;
        border: 1px solid #f0a1ae;
    }

    .button-translate {
        width: 150px;
        height: 40px;
        margin-top: 10px;
        border-radius: 10px;
        background-image: linear-gradient(to top, #d5dee7 0%, #ffafbd 0%, #acfa9e 100%);
        color: #fff;
        border: 1px solid #f4dde1;
        font-size: 18px;
    }

}


.cardWrapper {
    max-width: 60%;
    display: flex;
    margin: 0 auto;
    margin-top: 10vh;
    text-align: center;
    align-items: center;
    justify-content: space-between;

    .leftArrow {
        padding: 5px;
        width: 5rem;
        height: 2rem;
        background-image: linear-gradient(to top, #d5dee7 0%, #ffafbd 0%, #acfa9e 100%);
        color: #fff;
        border-radius: 50px;
        border: 1px solid #f4dde1;
        font-size: 22px;
    }


}

.learn-words {
    color: rgba(63, 68, 63, 0.9);
    margin-top: 12%;
    margin-bottom: 30px;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.number_of_card {
    color: rgba(63, 68, 63, 0.9);
    margin-top: 30px;
    font-size: 22px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}