.nav {
    display: flex;
    flex-direction: row;

    background-image: linear-gradient(to top, #0250c5 0%, #d43f8d 100%);
}

.logo {
    text-decoration: none;
    font-size: 50px;
    margin-right: 100px;
    margin-left: 20px;
    color: #fff;
}

.links {
    width: 400px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;

}



.links_li {
    font-size: 22px;
    text-decoration: none;
    color: #fff;
}

.links_li:hover {
    font-size: 26px;
    background-color: rgba(211, 25, 211, 0.6);
    border-radius: 10px;
    padding: 5px;

}