.tableList {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.table {
    width: 100%;
    margin-top: 50px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border-collapse: collapse;
}

.table th,
.table td {
    text-align: center;
    padding: 10px;
}

.table th {
    background-color: indianred;
    color: #fff;
}

.table th:nth-child(odd) {
    background: rgb(186, 62, 62);
}

.table tr:nth-child(even) {
    background: #f5f5f5;
}

.table tr {
    transition: all .3s;
}

.table tr:hover {
    background-color: rgba(205, 92, 92, 0.3);
}

.table td:not(:last-child) {
    border-right: 1px solid #ccc;
}